.clients-container {
    display: flex;
    justify-content: space-between;
}

.testimonial-block {
    margin-bottom: 120px;
}

.testimonial-title {
    width: 360px;
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-left: 83px;
    margin-bottom: 45px;
}

.testimonial-clients {
    position: relative;
    margin-left: 23px;
    margin-bottom: 62px;
}

.testimonial-text {
    width: 345px;
    color: #161616;
    font-family: "PT Serif", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.testimonial-sign {
    display: block;
    width: 320px;
    color: #d03958;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.4px;
    margin-top: 23px;
}

.testimonial-clients-foto-first {
    position: absolute;
    top: 4px;
    right: -43px;
    box-shadow: 0px -3px 18px -4px rgba(0,0,0,0.75);
    border-radius: 50%;
}

.testimonial-clients-foto-second {
    position: absolute;
    top: 33px;
    right: -50px;
    box-shadow: 0px -7px 18px -4px rgba(0,0,0,0.75);
    border-radius: 50%;
}

.bgc {
    background-color: #e3d5b8;
    border-radius: 4px;
    margin: 0;
    padding: 26px 75px 0 23px;
}

.bgc-sign {
    padding-bottom: 25px;
}

.gallery-block {
    width: 410px;
}

.gallery {
    width: 230px;
    color: #d03958;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 66px 87px;
}

.gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 32px;
}

.gallery-picture {
    margin-bottom: 28px;
    box-shadow: 0px -7px 18px -4px rgba(0,0,0,0.75);
    border-radius: 50%;
}

.gallery-link {
    width: 240px;
    color: #d03958;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    margin-left: 98px;
    padding-bottom: 117px;
}

.footer {
    background-color: #161616;
    overflow: hidden;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.copyright {
    width: 570px;
    color: #ffffff;
    font-family: "PT Serif", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
    margin: 80px 0 80px 23px;
}

.design {
    color: #d03958;
    letter-spacing: -0.4px;
    text-decoration: none;
    margin-left: 0;
}

.logo-footer {
    margin-top: 90px;
    width: 98px;
    color: #d03958;
    font-family: "Quite Chocolatey";
    font-size: 64px;
    font-weight: 400;
    line-height: 23.6px;
    letter-spacing: -1.2px;
}